@model Newsletter
@{
    ViewData["Title"] = "Newsletter Sign Up";
}

<h1>Sign Up</h1>

<form method="post">
    <div class="field">
        <label>Your Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="error"></span>
    </div>
    
    <div class="field">
        <label>Your Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="error"></span>
    </div>
    
    <button type="submit">Sign Up</button>
</form>