@{
    ViewData["Title"] = "Home Page";
}




<h1>History of Water Bottles</h1>
<p>@ViewData["Message"]</p>
<ul>
    <li>1947: First plastic bottle invented</li>
    <li>1980: Metal bottles became popular</li>
    <li>glass water bottles have been a thing since 1500bc</li>
</ul>
