@{
    ViewData["Title"] = "Home Page";
}




<h1>History of Water Bottles</h1>
<p>@ViewData["Message"]</p>
<ul>
    <li>plastic water bottles were invented in 1973</li>
    <li>Metal bottles became popular during the mid 1900s</li>
    <li>glass water bottles have been a thing since 1500bc</li>
</ul>
